---
import Ressource from "../../../ressources/Ressource.astro";
import Tribu from "../../../tribus/Tribu.astro";
import SvgStock from "../../../ressources/svg/stock/SvgStock.astro";
import SvgStockIndividuel from "../../../ressources/svg/stock/SvgStockIndividuel.astro";
import type { IdRessource } from "../../../ressources/IdRessource";
import type { IdTribu } from "../../../tribus/IdTribu";
import type { Carte } from "../../_types/Carte";

interface Props {
  prerequis: Carte["prerequis"];
}

const { prerequis } = Astro.props;
const tribus = prerequis?.tribus
  ? (Object.entries(prerequis.tribus) as [IdTribu, number][])
  : [];
---

<>
  {
    prerequis &&
      (tribus.length > 0 ||
        (prerequis.ressources &&
          Object.keys(prerequis.ressources).length > 0)) && (
        <div class="prerequis">
          {tribus.length > 0 && (
            <ul>
              {tribus.map(([tribu, valeur]) => (
                <li>
                  <Tribu id={tribu} plural={true} /> ⋝ {valeur}
                </li>
              ))}
            </ul>
          )}
          {prerequis.ressources &&
            Object.keys(prerequis.ressources).length > 0 && (
              <ul>
                {Object.entries(prerequis.ressources).map(
                  ([
                    id,
                    { eq, min, max, stockPlein, stockIndividuelPlein },
                  ]) => (
                    <li>
                      {min && max ? `${min} ⋜ ` : ""}
                      {stockPlein && <SvgStock />}
                      {stockIndividuelPlein && <SvgStockIndividuel />}
                      <Ressource
                        id={id as IdRessource}
                        plural={
                          stockPlein ||
                          stockIndividuelPlein ||
                          (max || eq || min || 0) > 1 ||
                          undefined
                        }
                      />
                      {min && !max ? ` ⋝ ${min}` : ""}
                      {eq ? ` = ${eq}` : ""}
                      {max ? ` ⋜ ${max}` : ""}
                      {(stockPlein || stockIndividuelPlein) && " plein"}
                    </li>
                  ),
                )}
              </ul>
            )}
        </div>
      )
  }
</>
